  <div class="container">
    <div class="row">

      <% @flats.each do |flat| %>

      <div class="col-xs-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url(<%= 'https://picsum.photos/350/180/?random&'+flat.name.delete(" ").delete("'") %>)"></div>
            <div class="flat-card-content">
              <div class="flat-card-title">
                <h4><%= link_to flat.name, flat_path(flat)%></h4>
              </div>
                <p>10 Clifton Gardens London W9 1DT</p>
                <div class="flex">
                  <div class="flex">
                    <i class="material-icons mr-2">people</i>
                    <span><%=flat.number_of_guests %></span>
                  </div>
                  <div class="flex ml-3">
                    <i class="material-icons mr-2">euro_symbol</i>
                    <%=flat.price_per_night %>
                  </div>
                </div>
            </div>
          <div class="flat-card-actions">
            <%= link_to "More info", flat_path(flat)%>
            <%= link_to "Edit", edit_flat_path(flat), class: "ml-3 text-warning"%>
            <%= link_to "Destroy", flat_path(flat), method: :delete, class: "ml-3 text-danger"%>
          </div>
        </div>
      </div>

      <% end %>
    </div>
  </div>

